*{
    margin: 0;
    padding: 0;
}

body,html{
    font-family: 'Inter', sans-serif;

}

/* <!-- Flooding main header section start --> */

.flooding_main_front_section{
    height: 100vh;
    width: 100%;
    background-image: url(images/flooding_bg_1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.main_front_section{
    color: white;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.249),rgba(0, 0, 0, 0.703));
}


.flooding_main_front_section h1{
    font-size: 65px;
    font-weight: 700;
    margin-top: 240px;
}

.flooding_main_front_section p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.donate_btn{
    color: white;
    font-size: 20px;
    text-decoration: none;
    /* background-color: orange; */
    background-color: #FF5959;
    padding: 18px 30px;
    border-radius: 10px;
}

/* <!-- Flooding main header section end --> */


/* <!-- Donated today section start --> */
.donate_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donated_amount_continer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

h2{
    font-size: 45px;
    font-weight: 700;
    padding: 20px 0;
}

p{
    font-size: 18px;
    padding: 20px 0;
}

.donated_amount_continer h4{
    padding: 35px 23px;
    background-color: #FAFAFA;
    margin: 10px;
    color: #707070;
    border-radius: 5px;
    font-size: 30px;
}

.donated_amount_continer .active{
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    color: #FF5959;
}


.input_area input{
    margin: 50px;
    text-align: center;
    height: 50px;
    width: 76%;
    font-size: 20px;
    border-style: none;
    border-bottom: 2px solid black;
}


/* <!-- Donated today section start --> */

.donate_plan_continaer{
    height: 100vh;
    width: 100%;
}

.donate_plan_continaer .plan_heading_continer{
    width: 70%;
    text-align: center;
    margin: 50px auto;
}

.plan_data_continers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.continer{
    height: 390px;
    width: 370px;
    margin: 10px;
    border-radius: 10px;
}


.continer img{
    margin-top: 20px;
    padding: 20px;
}

.continer h4{
    padding: 0px 20px;
    font-size: 30px;
}

.continer p{
    padding: 20px;
}

.plan_data_continers .food_for_family{
    background-color: #EDF5F6;
}


.plan_data_continers .sehlter_for_family{
    background-color: #FFEEEE;
}


.plan_data_continers .edicqtion_for_family{
    background-color: #FFF4D6;
}

/* <!-- Donate plan section end --> */

.give_support_continer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support_text{
    width: 80%;
    text-align: center;
}


.support_text h2{
    margin-bottom: 50px;
}

/* <!-- Give now to support section end --> */

/* flooding blog secticon continer start */

.flooding_blog_continer{
    height: auto;
    width: 100%;
}


.flooding_blog_continer .blog_main_continer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blog_main_continer .blog_text{
    height: 500px;
    width: 40%;
    margin: 15px; 
}

.blog_main_continer .blog_image{
    height: 600px;
    width: 40%;
    margin: 15px;
}

.blog_image figure{
    margin-left: 50px;
}

.blog_main_continer .blog_image img{
    border-start-start-radius: 20px;
    border-top-right-radius: 20px ;
}

.blog_text a{
    text-decoration: none;
}

#blog_text_tow{
    margin-left: 150px;
    margin-top: -50px;
}

/* <!-- flooding blog section end --> */

.update_continer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.update_section{
    width: 60%;
    text-align: center;
}


.update_section .email_subcribe_section{
    background-color: #FFF4D6;
    padding: 60px 60px;
    margin: 30px;
}

.email_subcribe_section .email_fild{
    width: 275px;
    height: 48px;
    font-size:16px;
    padding-left: 15px;
    background-color: #D9D9D9;
    border-style: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.email_subcribe_section .submit_button{
    height: 48px;
    width: 157px;
    margin-left: -5px;
    font-size: 16px;
    background-color: #FF5959;
    color: white;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;




}