*{
    margin: 0;
    padding: 0;
}

body,html{
    font-family: 'Inter', sans-serif;

}

/* <!-- Flooding main header section start --> */

.flooding_main_front_section{
    height: 100vh;
    width: 100%;
    background-image: url(images/flooding_bg_1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.main_front_section{
    color: white;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.249),rgba(0, 0, 0, 0.703));
}


.flooding_main_front_section h1{
    font-size: 65px;
    font-weight: 700;
    margin-top: 240px;
}

.flooding_main_front_section p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.button{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: orange;
    padding: 18px 30px;
    border-radius: 10px;
}

/* <!-- Flooding main header section end --> */


/* <!-- Donated today section start --> */
.donate_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.donated_amount_continer{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 45px;
    font-weight: 700;
    padding: 20px;
}

p{
    font-size: 18px;
    padding: 20px;
}

.donated_amount_continer h4{
    padding: 35px 23px;
    background-color: tomato;
    margin: 10px;
    color: #707070;
    border-radius: 5px;
    font-size: 30px;
}

.input_area input{
    margin: 50px;
    text-align: center;
    height: 50px;
    width: 76%;
    font-size: 20px;
    border-style: none;
    border-bottom: 2px solid black;
}
/* <!-- Donated today section start --> */

.donate_plan_continaer{
    height: 100vh;
    width: 100%;
}

.donate_plan_continaer .plan_heading_continer{
    width: 70%;
    text-align: center;
    margin: 50px auto;
}

.plan_data_continers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.continer{
    height: 390px;
    width: 370px;
    margin: 10px;
    border-radius: 10px;
}


.continer img{
    margin-top: 20px;
    padding: 20px;
}

.continer h4{
    padding: 0px 20px;
    font-size: 30px;
}

.continer p{

    padding: 20px;

}

.plan_data_continers .food_for_family{
    background-color: #EDF5F6;
}


.plan_data_continers .sehlter_for_family{
    background-color: #FFEEEE;
}


.plan_data_continers .edicqtion_for_family{
    background-color: #FFF4D6;

}